{
  "openapi": "3.0.3",
  "info": {
    "title": "Mosaic Solutions API Doc",
    "description": "Mosaic API allows your business to seamlessly integrate your website or app with our POS Systems.\n\nAll requests and responses between clients and the API are JSON over HTTPS.\n\nAll timestamps in responses are in ISO-8601 format with UTC timezone unless otherwise specified.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://stg-api.mosaicpos.com",
      "description": "Testing"
    },
    {
      "url": "https://api.mosaic-pos.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "![Authentication Flow](images/auth_flow.jpg)\n"
    },
    {
      "name": "Orders",
      "description": ""
    },
    {
      "name": "Locations",
      "description": ""
    },
    {
      "name": "Product Categories",
      "description": ""
    },
    {
      "name": "Products",
      "description": ""
    },
    {
      "name": "Modifier Groups",
      "description": ""
    },
    {
      "name": "Modifiers",
      "description": ""
    },
    {
      "name": "Service Types",
      "description": ""
    },
    {
      "name": "Taxes",
      "description": ""
    },
    {
      "name": "Payments",
      "description": ""
    },
    {
      "name": "Discounts",
      "description": ""
    },
    {
      "name": "Webhook Setup",
      "description": "Clients can provide a URL where Mosaic can POST to receive webhook notifications.\n\n### Client Requirements\n\n* The client must provide a valid HTTPS endpoint.\n* The endpoint should be capable of handling incoming POST requests with JSON payloads.\n* Clients should acknowledge receipt with any **2xx** response."
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/oauth/token"
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth": []
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "Create Access Token",
        "operationId": "createAccessToken",
        "description": "Authorize a client to access APIs.",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "token_type": "Bearer",
                    "expires_in": 86400,
                    "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZTc5YjI5My1hYWZjLTQ1M2UtODczNC0xYWU4MzQ1MTI0MzEiLCJqdGkiOiIxYzg1MWEyNzY0ODJmNDVjY2ZmYWVjNDMzZDk4NmE0YmRkNzFjZTlhZTk5ODJlYmNhMjNkNDVkZmY3ZmI3Y2Q3OWViYTYzOTMzOGVjOWQ3MiIsImlhdCI6MTc0NDY5MTMxNi41OTQ4ODcsIm5iZiI6MTc0NDY5MTMxNi41OTQ4ODksImV4cCI6MTc0NDc3NzcxNi41ODYwMzMsInN1YiI6IiIsInNjb3BlcyI6W119.MY0hzDXfvYEsOdT8tMRoSEJqJtDUIbZjhY9lf9oa6NPhh_R7e1-meAixKqrPaoez_nyact19UsCZ_KVzNo2J3EuA_Pkdd30TqAGN4aWbjbn5fbx_ksuJ7Q0J1Mn05oWl0o3-UcO5nK1IHzIz2kYntxn_S6V_2LZlrMKHo543j60p-9yjM5NRBLsTchsCYSWnquYOliplHSaSxBtZd8czIayoEQ9tLbMWyAraaSO0ezg9L49Fx9MYKw7PmC6PpxSwwlhtAjBo2cVAE7yhx-M8lHNH5PpqP1ywOZGOtz1ve4HbQ2nBVR9SSVmqbn5xRajyijqd0oTCFXZBbt9IoPwam3B7-GJIIkSZxUzSxPvvCLIVLEaFfBh9i9uuWQx1PHekmHDsJZuSopV6AWKwOtmHnvXjNV88jtNUGr8BrdeiBVLLSTGtXwnJ7AMVEtJDB1H2ZGWaxlVGnJ-tTdRzcJazLElqp_xESOpRY24RuICDK-bF_TmnyM8caTrCyRvxAbQCmIfMcUY9XrnH4OJpgbZBMhfL6OMwy14e26dZzt2WAT8ohG6_SIxhfFRkKTjY4paqTvWoMnfwpjibzlWIGMm5mB9Pnr_V0kqcXZ7ld36DTzYVh-zqn4Eu7q6FTYoJydYSJSlxzRmajlLrFG1uK7Jtuione0YHbTQS0osTjjPCKHs"
                  },
                  "properties": {
                    "token_type": {
                      "type": "string",
                      "example": "Bearer",
                      "description": "The type of the token."
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 86400,
                      "description": "The number of seconds before the token expires."
                    },
                    "access_token": {
                      "type": "string",
                      "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZTc5YjI5My1hYWZjLTQ1M2UtODczNC0xYWU4MzQ1MTI0MzEiLCJqdGkiOiIxYzg1MWEyNzY0ODJmNDVjY2ZmYWVjNDMzZDk4NmE0YmRkNzFjZTlhZTk5ODJlYmNhMjNkNDVkZmY3ZmI3Y2Q3OWViYTYzOTMzOGVjOWQ3MiIsImlhdCI6MTc0NDY5MTMxNi41OTQ4ODcsIm5iZiI6MTc0NDY5MTMxNi41OTQ4ODksImV4cCI6MTc0NDc3NzcxNi41ODYwMzMsInN1YiI6IiIsInNjb3BlcyI6W119.MY0hzDXfvYEsOdT8tMRoSEJqJtDUIbZjhY9lf9oa6NPhh_R7e1-meAixKqrPaoez_nyact19UsCZ_KVzNo2J3EuA_Pkdd30TqAGN4aWbjbn5fbx_ksuJ7Q0J1Mn05oWl0o3-UcO5nK1IHzIz2kYntxn_S6V_2LZlrMKHo543j60p-9yjM5NRBLsTchsCYSWnquYOliplHSaSxBtZd8czIayoEQ9tLbMWyAraaSO0ezg9L49Fx9MYKw7PmC6PpxSwwlhtAjBo2cVAE7yhx-M8lHNH5PpqP1ywOZGOtz1ve4HbQ2nBVR9SSVmqbn5xRajyijqd0oTCFXZBbt9IoPwam3B7-GJIIkSZxUzSxPvvCLIVLEaFfBh9i9uuWQx1PHekmHDsJZuSopV6AWKwOtmHnvXjNV88jtNUGr8BrdeiBVLLSTGtXwnJ7AMVEtJDB1H2ZGWaxlVGnJ-tTdRzcJazLElqp_xESOpRY24RuICDK-bF_TmnyM8caTrCyRvxAbQCmIfMcUY9XrnH4OJpgbZBMhfL6OMwy14e26dZzt2WAT8ohG6_SIxhfFRkKTjY4paqTvWoMnfwpjibzlWIGMm5mB9Pnr_V0kqcXZ7ld36DTzYVh-zqn4Eu7q6FTYoJydYSJSlxzRmajlLrFG1uK7Jtuione0YHbTQS0osTjjPCKHs",
                      "description": "The token to be passed on API requests as a header."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "",
                    "example": "<your-client-id>"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "",
                    "example": "<your-secret-key>"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "",
                    "example": "client_credentials"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type"
                ]
              }
            }
          }
        },
        "security": [],
        "": {
          "summary": "Create Access Token",
          "operationId": "createAccessToken",
          "description": "Authorize a client to access APIs.",
          "parameters": [
            {
              "in": "header",
              "name": "Accept",
              "schema": {
                "type": "string",
                "default": "application/json"
              },
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "example": {
                      "token_type": "Bearer",
                      "expires_in": 86400,
                      "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZTc5YjI5My1hYWZjLTQ1M2UtODczNC0xYWU4MzQ1MTI0MzEiLCJqdGkiOiIxYzg1MWEyNzY0ODJmNDVjY2ZmYWVjNDMzZDk4NmE0YmRkNzFjZTlhZTk5ODJlYmNhMjNkNDVkZmY3ZmI3Y2Q3OWViYTYzOTMzOGVjOWQ3MiIsImlhdCI6MTc0NDY5MTMxNi41OTQ4ODcsIm5iZiI6MTc0NDY5MTMxNi41OTQ4ODksImV4cCI6MTc0NDc3NzcxNi41ODYwMzMsInN1YiI6IiIsInNjb3BlcyI6W119.MY0hzDXfvYEsOdT8tMRoSEJqJtDUIbZjhY9lf9oa6NPhh_R7e1-meAixKqrPaoez_nyact19UsCZ_KVzNo2J3EuA_Pkdd30TqAGN4aWbjbn5fbx_ksuJ7Q0J1Mn05oWl0o3-UcO5nK1IHzIz2kYntxn_S6V_2LZlrMKHo543j60p-9yjM5NRBLsTchsCYSWnquYOliplHSaSxBtZd8czIayoEQ9tLbMWyAraaSO0ezg9L49Fx9MYKw7PmC6PpxSwwlhtAjBo2cVAE7yhx-M8lHNH5PpqP1ywOZGOtz1ve4HbQ2nBVR9SSVmqbn5xRajyijqd0oTCFXZBbt9IoPwam3B7-GJIIkSZxUzSxPvvCLIVLEaFfBh9i9uuWQx1PHekmHDsJZuSopV6AWKwOtmHnvXjNV88jtNUGr8BrdeiBVLLSTGtXwnJ7AMVEtJDB1H2ZGWaxlVGnJ-tTdRzcJazLElqp_xESOpRY24RuICDK-bF_TmnyM8caTrCyRvxAbQCmIfMcUY9XrnH4OJpgbZBMhfL6OMwy14e26dZzt2WAT8ohG6_SIxhfFRkKTjY4paqTvWoMnfwpjibzlWIGMm5mB9Pnr_V0kqcXZ7ld36DTzYVh-zqn4Eu7q6FTYoJydYSJSlxzRmajlLrFG1uK7Jtuione0YHbTQS0osTjjPCKHs"
                    },
                    "properties": {
                      "token_type": {
                        "type": "string",
                        "example": "Bearer",
                        "description": "The type of the token."
                      },
                      "expires_in": {
                        "type": "integer",
                        "example": 86400,
                        "description": "The number of seconds before the token expires."
                      },
                      "access_token": {
                        "type": "string",
                        "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZTc5YjI5My1hYWZjLTQ1M2UtODczNC0xYWU4MzQ1MTI0MzEiLCJqdGkiOiIxYzg1MWEyNzY0ODJmNDVjY2ZmYWVjNDMzZDk4NmE0YmRkNzFjZTlhZTk5ODJlYmNhMjNkNDVkZmY3ZmI3Y2Q3OWViYTYzOTMzOGVjOWQ3MiIsImlhdCI6MTc0NDY5MTMxNi41OTQ4ODcsIm5iZiI6MTc0NDY5MTMxNi41OTQ4ODksImV4cCI6MTc0NDc3NzcxNi41ODYwMzMsInN1YiI6IiIsInNjb3BlcyI6W119.MY0hzDXfvYEsOdT8tMRoSEJqJtDUIbZjhY9lf9oa6NPhh_R7e1-meAixKqrPaoez_nyact19UsCZ_KVzNo2J3EuA_Pkdd30TqAGN4aWbjbn5fbx_ksuJ7Q0J1Mn05oWl0o3-UcO5nK1IHzIz2kYntxn_S6V_2LZlrMKHo543j60p-9yjM5NRBLsTchsCYSWnquYOliplHSaSxBtZd8czIayoEQ9tLbMWyAraaSO0ezg9L49Fx9MYKw7PmC6PpxSwwlhtAjBo2cVAE7yhx-M8lHNH5PpqP1ywOZGOtz1ve4HbQ2nBVR9SSVmqbn5xRajyijqd0oTCFXZBbt9IoPwam3B7-GJIIkSZxUzSxPvvCLIVLEaFfBh9i9uuWQx1PHekmHDsJZuSopV6AWKwOtmHnvXjNV88jtNUGr8BrdeiBVLLSTGtXwnJ7AMVEtJDB1H2ZGWaxlVGnJ-tTdRzcJazLElqp_xESOpRY24RuICDK-bF_TmnyM8caTrCyRvxAbQCmIfMcUY9XrnH4OJpgbZBMhfL6OMwy14e26dZzt2WAT8ohG6_SIxhfFRkKTjY4paqTvWoMnfwpjibzlWIGMm5mB9Pnr_V0kqcXZ7ld36DTzYVh-zqn4Eu7q6FTYoJydYSJSlxzRmajlLrFG1uK7Jtuione0YHbTQS0osTjjPCKHs",
                        "description": "The token to be passed on API requests as a header."
                      }
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "Authentication"
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "string",
                      "description": "",
                      "example": "<your-client-id>"
                    },
                    "client_secret": {
                      "type": "string",
                      "description": "",
                      "example": "<your-secret-key>"
                    },
                    "grant_type": {
                      "type": "string",
                      "description": "",
                      "example": "client_credentials"
                    }
                  },
                  "required": [
                    "client_id",
                    "client_secret",
                    "grant_type"
                  ]
                }
              }
            }
          },
          "security": []
        }
      }
    },
    "/api/v1/orders": {
      "get": {
        "summary": "Get Orders",
        "operationId": "getOrders",
        "description": "Get all of the orders.",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "filter[business_date]",
            "description": "Filter orders by business date. Must be a valid date in the format <code>Y-m-d</code>.",
            "example": "2026-04-13",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter orders by business date. Must be a valid date in the format <code>Y-m-d</code>.",
              "example": "2026-04-13"
            }
          },
          {
            "in": "query",
            "name": "page[number]",
            "description": "The current page number of the result set to display. Must be at least 1.",
            "example": 1,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The current page number of the result set to display. Must be at least 1.",
              "example": 1
            }
          },
          {
            "in": "query",
            "name": "page[size]",
            "description": "The number of items to include per page in the result set. Must be at least 1. Must not be greater than 100.",
            "example": 100,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The number of items to include per page in the result set. Must be at least 1. Must not be greater than 100.",
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": [
                      {
                        "id": 46231,
                        "location_id": 295,
                        "service_type_id": 1,
                        "service_channel_id": null,
                        "reference_id": null,
                        "business_date": "2023-02-22",
                        "bill_number": 7690,
                        "receipt_number": 7674,
                        "pax_count": 1,
                        "price_breakdown": {
                          "original_gross_sales": 1,
                          "gross_sales": 1.1,
                          "net_sales": 0.8929,
                          "vatable_sales": 0.8929,
                          "vat_amount": 0.1071,
                          "vat_exempt_sales": 0,
                          "zero_rated_sales": 0,
                          "total_discounts": 0,
                          "delivery_fee": null,
                          "is_free_delivery": false
                        },
                        "fulfillment_option": null,
                        "payment_status": "PAID",
                        "order_status": null,
                        "cancellation_reason": null,
                        "billed_at": "2023-02-22T00:37:31.000000Z",
                        "paid_at": "2023-02-22T00:37:38.000000Z",
                        "completed_at": null,
                        "cancelled_at": null,
                        "items": [
                          {
                            "product_id": 30419,
                            "name": "Gsggsg",
                            "price": 1,
                            "quantity": 1,
                            "gross_sales": 1.1,
                            "net_sales": 0.8929,
                            "vatable_sales": 0.8929,
                            "vat_amount": 0.1071,
                            "vat_exempt_sales": 0,
                            "zero_rated_sales": 0,
                            "modifiers": []
                          }
                        ],
                        "taxes": [],
                        "payment_methods": [
                          {
                            "payment_type": "Cash",
                            "paid_amount": 1.1,
                            "returned_amount": 0
                          },
                          {
                            "payment_type": "QRPH",
                            "paid_amount": 332,
                            "returned_amount": 0
                          }
                        ]
                      },
                      {
                        "id": 46231,
                        "location_id": 295,
                        "service_type_id": 1,
                        "service_channel_id": null,
                        "reference_id": null,
                        "business_date": "2023-02-22",
                        "bill_number": 7690,
                        "receipt_number": 7674,
                        "pax_count": 1,
                        "price_breakdown": {
                          "original_gross_sales": 1,
                          "gross_sales": 1.1,
                          "net_sales": 0.8929,
                          "vatable_sales": 0.8929,
                          "vat_amount": 0.1071,
                          "vat_exempt_sales": 0,
                          "zero_rated_sales": 0,
                          "total_discounts": 0,
                          "delivery_fee": null,
                          "is_free_delivery": false
                        },
                        "fulfillment_option": null,
                        "payment_status": "PAID",
                        "order_status": null,
                        "cancellation_reason": null,
                        "billed_at": "2023-02-22T00:37:31.000000Z",
                        "paid_at": "2023-02-22T00:37:38.000000Z",
                        "completed_at": null,
                        "cancelled_at": null,
                        "items": [
                          {
                            "product_id": 30419,
                            "name": "Gsggsg",
                            "price": 1,
                            "quantity": 1,
                            "gross_sales": 1.1,
                            "net_sales": 0.8929,
                            "vatable_sales": 0.8929,
                            "vat_amount": 0.1071,
                            "vat_exempt_sales": 0,
                            "zero_rated_sales": 0,
                            "modifiers": []
                          }
                        ],
                        "taxes": [],
                        "payment_methods": [
                          {
                            "payment_type": "Cash",
                            "paid_amount": 1.1,
                            "returned_amount": 0
                          },
                          {
                            "payment_type": "QRPH",
                            "paid_amount": 332,
                            "returned_amount": 0
                          }
                        ]
                      }
                    ],
                    "meta": {
                      "current_page": 1,
                      "last_page": 1,
                      "per_page": 100,
                      "total": 2
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 46231,
                          "location_id": 295,
                          "service_type_id": 1,
                          "service_channel_id": null,
                          "reference_id": null,
                          "business_date": "2023-02-22",
                          "bill_number": 7690,
                          "receipt_number": 7674,
                          "pax_count": 1,
                          "price_breakdown": {
                            "original_gross_sales": 1,
                            "gross_sales": 1.1,
                            "net_sales": 0.8929,
                            "vatable_sales": 0.8929,
                            "vat_amount": 0.1071,
                            "vat_exempt_sales": 0,
                            "zero_rated_sales": 0,
                            "total_discounts": 0,
                            "delivery_fee": null,
                            "is_free_delivery": false
                          },
                          "fulfillment_option": null,
                          "payment_status": "PAID",
                          "order_status": null,
                          "cancellation_reason": null,
                          "billed_at": "2023-02-22T00:37:31.000000Z",
                          "paid_at": "2023-02-22T00:37:38.000000Z",
                          "completed_at": null,
                          "cancelled_at": null,
                          "items": [
                            {
                              "product_id": 30419,
                              "name": "Gsggsg",
                              "price": 1,
                              "quantity": 1,
                              "gross_sales": 1.1,
                              "net_sales": 0.8929,
                              "vatable_sales": 0.8929,
                              "vat_amount": 0.1071,
                              "vat_exempt_sales": 0,
                              "zero_rated_sales": 0,
                              "modifiers": []
                            }
                          ],
                          "taxes": [],
                          "payment_methods": [
                            {
                              "payment_type": "Cash",
                              "paid_amount": 1.1,
                              "returned_amount": 0
                            },
                            {
                              "payment_type": "QRPH",
                              "paid_amount": 332,
                              "returned_amount": 0
                            }
                          ]
                        },
                        {
                          "id": 46231,
                          "location_id": 295,
                          "service_type_id": 1,
                          "service_channel_id": null,
                          "reference_id": null,
                          "business_date": "2023-02-22",
                          "bill_number": 7690,
                          "receipt_number": 7674,
                          "pax_count": 1,
                          "price_breakdown": {
                            "original_gross_sales": 1,
                            "gross_sales": 1.1,
                            "net_sales": 0.8929,
                            "vatable_sales": 0.8929,
                            "vat_amount": 0.1071,
                            "vat_exempt_sales": 0,
                            "zero_rated_sales": 0,
                            "total_discounts": 0,
                            "delivery_fee": null,
                            "is_free_delivery": false
                          },
                          "fulfillment_option": null,
                          "payment_status": "PAID",
                          "order_status": null,
                          "cancellation_reason": null,
                          "billed_at": "2023-02-22T00:37:31.000000Z",
                          "paid_at": "2023-02-22T00:37:38.000000Z",
                          "completed_at": null,
                          "cancelled_at": null,
                          "items": [
                            {
                              "product_id": 30419,
                              "name": "Gsggsg",
                              "price": 1,
                              "quantity": 1,
                              "gross_sales": 1.1,
                              "net_sales": 0.8929,
                              "vatable_sales": 0.8929,
                              "vat_amount": 0.1071,
                              "vat_exempt_sales": 0,
                              "zero_rated_sales": 0,
                              "modifiers": []
                            }
                          ],
                          "taxes": [],
                          "payment_methods": [
                            {
                              "payment_type": "Cash",
                              "paid_amount": 1.1,
                              "returned_amount": 0
                            },
                            {
                              "payment_type": "QRPH",
                              "paid_amount": 332,
                              "returned_amount": 0
                            }
                          ]
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 46231,
                            "description": "The ID of the order."
                          },
                          "location_id": {
                            "type": "integer",
                            "example": 295,
                            "description": "The ID of the location."
                          },
                          "service_type_id": {
                            "type": "integer",
                            "example": 1,
                            "description": "The service type of the order."
                          },
                          "service_channel_id": {
                            "type": "string",
                            "example": null,
                            "description": "The service channel of the order.",
                            "nullable": true
                          },
                          "reference_id": {
                            "type": "string",
                            "example": null,
                            "description": "The reference ID of the order.",
                            "nullable": true
                          },
                          "business_date": {
                            "type": "string",
                            "example": "2023-02-22",
                            "description": "The business date of the order."
                          },
                          "bill_number": {
                            "type": "integer",
                            "example": 7690
                          },
                          "receipt_number": {
                            "type": "integer",
                            "example": 7674
                          },
                          "pax_count": {
                            "type": "integer",
                            "example": 1,
                            "description": "The number of pax."
                          },
                          "price_breakdown": {
                            "type": "object",
                            "properties": {
                              "original_gross_sales": {
                                "type": "integer",
                                "example": 1
                              },
                              "gross_sales": {
                                "type": "number",
                                "example": 1.1
                              },
                              "net_sales": {
                                "type": "number",
                                "example": 0.8929
                              },
                              "vatable_sales": {
                                "type": "number",
                                "example": 0.8929
                              },
                              "vat_amount": {
                                "type": "number",
                                "example": 0.1071
                              },
                              "vat_exempt_sales": {
                                "type": "integer",
                                "example": 0
                              },
                              "zero_rated_sales": {
                                "type": "integer",
                                "example": 0
                              },
                              "total_discounts": {
                                "type": "integer",
                                "example": 0
                              },
                              "delivery_fee": {
                                "type": "string",
                                "example": null
                              },
                              "is_free_delivery": {
                                "type": "boolean",
                                "example": false
                              }
                            },
                            "required": [
                              "original_gross_sales",
                              "gross_sales",
                              "net_sales",
                              "vatable_sales",
                              "vat_amount",
                              "vat_exempt_sales",
                              "total_discounts",
                              "delivery_fee",
                              "is_free_delivery"
                            ]
                          },
                          "fulfillment_option": {
                            "type": "string",
                            "example": null,
                            "nullable": true
                          },
                          "payment_status": {
                            "type": "string",
                            "example": "PAID",
                            "description": "The status of the payment."
                          },
                          "order_status": {
                            "type": "string",
                            "example": null,
                            "description": "The status of the order.",
                            "nullable": true
                          },
                          "cancellation_reason": {
                            "type": "string",
                            "example": null,
                            "description": "The status of the order.",
                            "nullable": true
                          },
                          "billed_at": {
                            "type": "string",
                            "example": "2023-02-22T00:37:31.000000Z",
                            "description": "The time when the order was billed.",
                            "nullable": true
                          },
                          "paid_at": {
                            "type": "string",
                            "example": "2023-02-22T00:37:38.000000Z",
                            "description": "The time when the order was paid.",
                            "nullable": true
                          },
                          "completed_at": {
                            "type": "string",
                            "example": null,
                            "description": "The time when the order was completed.",
                            "nullable": true
                          },
                          "cancelled_at": {
                            "type": "string",
                            "example": null,
                            "description": "The time when the order was cancelled.",
                            "nullable": true
                          },
                          "items": {
                            "type": "array",
                            "example": [
                              {
                                "product_id": 30419,
                                "name": "Gsggsg",
                                "price": 1,
                                "quantity": 1,
                                "gross_sales": 1.1,
                                "net_sales": 0.8929,
                                "vatable_sales": 0.8929,
                                "vat_amount": 0.1071,
                                "vat_exempt_sales": 0,
                                "zero_rated_sales": 0,
                                "modifiers": []
                              }
                            ],
                            "description": "The products purchased.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "product_id": {
                                  "type": "integer",
                                  "example": 30419
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Gsggsg"
                                },
                                "price": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "quantity": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "gross_sales": {
                                  "type": "number",
                                  "example": 1.1
                                },
                                "net_sales": {
                                  "type": "number",
                                  "example": 0.8929
                                },
                                "vatable_sales": {
                                  "type": "number",
                                  "example": 0.8929
                                },
                                "vat_amount": {
                                  "type": "number",
                                  "example": 0.1071
                                },
                                "vat_exempt_sales": {
                                  "type": "integer",
                                  "example": 0
                                },
                                "zero_rated_sales": {
                                  "type": "integer",
                                  "example": 0
                                },
                                "modifiers": {
                                  "type": "array",
                                  "example": []
                                }
                              }
                            }
                          },
                          "taxes": {
                            "type": "array",
                            "example": [],
                            "description": "The taxes applied."
                          },
                          "payment_methods": {
                            "type": "array",
                            "example": [
                              {
                                "payment_type": "Cash",
                                "paid_amount": 1.1,
                                "returned_amount": 0
                              },
                              {
                                "payment_type": "QRPH",
                                "paid_amount": 332,
                                "returned_amount": 0
                              }
                            ],
                            "description": "The payments made.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "payment_type": {
                                  "type": "string",
                                  "example": "Cash"
                                },
                                "paid_amount": {
                                  "type": "number",
                                  "example": 1.1
                                },
                                "returned_amount": {
                                  "type": "integer",
                                  "example": 0
                                }
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "id",
                        "location_id",
                        "service_type_id",
                        "service_channel_id",
                        "reference_id",
                        "business_date",
                        "bill_number",
                        "receipt_number",
                        "pax_count",
                        "price_breakdown",
                        "fulfillment_option",
                        "payment_status",
                        "order_status",
                        "cancellation_reason",
                        "billed_at",
                        "paid_at",
                        "completed_at",
                        "cancelled_at",
                        "items",
                        "taxes",
                        "payment_methods"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 100
                        },
                        "total": {
                          "type": "integer",
                          "example": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Orders"
        ]
      },
      "post": {
        "summary": "Create Order",
        "operationId": "createOrder",
        "description": "Create an order.",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 46231,
                      "location_id": 295,
                      "service_type_id": 1,
                      "service_channel_id": null,
                      "reference_id": null,
                      "business_date": "2023-02-22",
                      "bill_number": 7690,
                      "receipt_number": 7674,
                      "pax_count": 1,
                      "price_breakdown": {
                        "original_gross_sales": 1,
                        "gross_sales": 1.1,
                        "net_sales": 0.8929,
                        "vatable_sales": 0.8929,
                        "vat_amount": 0.1071,
                        "vat_exempt_sales": 0,
                        "zero_rated_sales": 0,
                        "total_discounts": 0,
                        "delivery_fee": null,
                        "is_free_delivery": false
                      },
                      "fulfillment_option": null,
                      "payment_status": "PAID",
                      "order_status": null,
                      "cancellation_reason": null,
                      "billed_at": "2023-02-22T00:37:31.000000Z",
                      "paid_at": "2023-02-22T00:37:38.000000Z",
                      "completed_at": null,
                      "cancelled_at": null,
                      "items": [
                        {
                          "product_id": 30419,
                          "name": "Gsggsg",
                          "price": 1,
                          "quantity": 1,
                          "gross_sales": 1.1,
                          "net_sales": 0.8929,
                          "vatable_sales": 0.8929,
                          "vat_amount": 0.1071,
                          "vat_exempt_sales": 0,
                          "zero_rated_sales": 0,
                          "modifiers": []
                        }
                      ],
                      "taxes": [],
                      "payment_methods": [
                        {
                          "payment_type": "Cash",
                          "paid_amount": 1.1,
                          "returned_amount": 0
                        },
                        {
                          "payment_type": "QRPH",
                          "paid_amount": 332,
                          "returned_amount": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 46231,
                          "description": "The ID of the order."
                        },
                        "location_id": {
                          "type": "integer",
                          "example": 295,
                          "description": "The ID of the location."
                        },
                        "service_type_id": {
                          "type": "integer",
                          "example": 1,
                          "description": "The service type of the order."
                        },
                        "service_channel_id": {
                          "type": "string",
                          "example": null,
                          "description": "The service channel of the order.",
                          "nullable": true
                        },
                        "reference_id": {
                          "type": "string",
                          "example": null,
                          "description": "The reference ID of the order.",
                          "nullable": true
                        },
                        "business_date": {
                          "type": "string",
                          "example": "2023-02-22",
                          "description": "The business date of the order."
                        },
                        "bill_number": {
                          "type": "integer",
                          "example": 7690
                        },
                        "receipt_number": {
                          "type": "integer",
                          "example": 7674
                        },
                        "pax_count": {
                          "type": "integer",
                          "example": 1,
                          "description": "The number of pax."
                        },
                        "price_breakdown": {
                          "type": "object",
                          "properties": {
                            "original_gross_sales": {
                              "type": "integer",
                              "example": 1
                            },
                            "gross_sales": {
                              "type": "number",
                              "example": 1.1
                            },
                            "net_sales": {
                              "type": "number",
                              "example": 0.8929
                            },
                            "vatable_sales": {
                              "type": "number",
                              "example": 0.8929
                            },
                            "vat_amount": {
                              "type": "number",
                              "example": 0.1071
                            },
                            "vat_exempt_sales": {
                              "type": "integer",
                              "example": 0
                            },
                            "zero_rated_sales": {
                              "type": "integer",
                              "example": 0
                            },
                            "total_discounts": {
                              "type": "integer",
                              "example": 0
                            },
                            "delivery_fee": {
                              "type": "string",
                              "example": null
                            },
                            "is_free_delivery": {
                              "type": "boolean",
                              "example": false
                            }
                          },
                          "required": [
                            "original_gross_sales",
                            "gross_sales",
                            "net_sales",
                            "vatable_sales",
                            "vat_amount",
                            "vat_exempt_sales",
                            "total_discounts",
                            "delivery_fee",
                            "is_free_delivery"
                          ]
                        },
                        "fulfillment_option": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        },
                        "payment_status": {
                          "type": "string",
                          "example": "PAID",
                          "description": "The status of the payment."
                        },
                        "order_status": {
                          "type": "string",
                          "example": null,
                          "description": "The status of the order.",
                          "nullable": true
                        },
                        "cancellation_reason": {
                          "type": "string",
                          "example": null,
                          "description": "The status of the order.",
                          "nullable": true
                        },
                        "billed_at": {
                          "type": "string",
                          "example": "2023-02-22T00:37:31.000000Z",
                          "description": "The time when the order was billed.",
                          "nullable": true
                        },
                        "paid_at": {
                          "type": "string",
                          "example": "2023-02-22T00:37:38.000000Z",
                          "description": "The time when the order was paid.",
                          "nullable": true
                        },
                        "completed_at": {
                          "type": "string",
                          "example": null,
                          "description": "The time when the order was completed.",
                          "nullable": true
                        },
                        "cancelled_at": {
                          "type": "string",
                          "example": null,
                          "description": "The time when the order was cancelled.",
                          "nullable": true
                        },
                        "items": {
                          "type": "array",
                          "example": [
                            {
                              "product_id": 30419,
                              "name": "Gsggsg",
                              "price": 1,
                              "quantity": 1,
                              "gross_sales": 1.1,
                              "net_sales": 0.8929,
                              "vatable_sales": 0.8929,
                              "vat_amount": 0.1071,
                              "vat_exempt_sales": 0,
                              "zero_rated_sales": 0,
                              "modifiers": []
                            }
                          ],
                          "description": "The products purchased.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "product_id": {
                                "type": "integer",
                                "example": 30419
                              },
                              "name": {
                                "type": "string",
                                "example": "Gsggsg"
                              },
                              "price": {
                                "type": "integer",
                                "example": 1
                              },
                              "quantity": {
                                "type": "integer",
                                "example": 1
                              },
                              "gross_sales": {
                                "type": "number",
                                "example": 1.1
                              },
                              "net_sales": {
                                "type": "number",
                                "example": 0.8929
                              },
                              "vatable_sales": {
                                "type": "number",
                                "example": 0.8929
                              },
                              "vat_amount": {
                                "type": "number",
                                "example": 0.1071
                              },
                              "vat_exempt_sales": {
                                "type": "integer",
                                "example": 0
                              },
                              "zero_rated_sales": {
                                "type": "integer",
                                "example": 0
                              },
                              "modifiers": {
                                "type": "array",
                                "example": []
                              }
                            }
                          }
                        },
                        "taxes": {
                          "type": "array",
                          "example": [],
                          "description": "The taxes applied."
                        },
                        "payment_methods": {
                          "type": "array",
                          "example": [
                            {
                              "payment_type": "Cash",
                              "paid_amount": 1.1,
                              "returned_amount": 0
                            },
                            {
                              "payment_type": "QRPH",
                              "paid_amount": 332,
                              "returned_amount": 0
                            }
                          ],
                          "description": "The payments made.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "payment_type": {
                                "type": "string",
                                "example": "Cash"
                              },
                              "paid_amount": {
                                "type": "number",
                                "example": 1.1
                              },
                              "returned_amount": {
                                "type": "integer",
                                "example": 0
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "id",
                        "location_id",
                        "service_type_id",
                        "service_channel_id",
                        "reference_id",
                        "business_date",
                        "bill_number",
                        "receipt_number",
                        "pax_count",
                        "price_breakdown",
                        "fulfillment_option",
                        "payment_status",
                        "order_status",
                        "cancellation_reason",
                        "billed_at",
                        "paid_at",
                        "completed_at",
                        "cancelled_at",
                        "items",
                        "taxes",
                        "payment_methods"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location_id": {
                    "type": "integer",
                    "description": "Must be a valid location ID. This field is required when <code>branch_code</code> is not present.",
                    "example": 13
                  },
                  "branch_code": {
                    "type": "string",
                    "description": "Must be a valid branch code. This field is required when <code>location_id</code> is not present.",
                    "example": "et"
                  },
                  "service_type_id": {
                    "type": "integer",
                    "description": "Must be a valid service type ID.",
                    "example": 3,
                    "nullable": true
                  },
                  "service_channel_id": {
                    "type": "integer",
                    "description": "Must be a valid service channel ID under the service type.",
                    "example": 14,
                    "nullable": true
                  },
                  "fulfillment_option": {
                    "type": "string",
                    "description": "",
                    "example": "DELIVERY",
                    "enum": [
                      "DELIVERY",
                      "PICK_UP"
                    ],
                    "nullable": true
                  },
                  "reference_id": {
                    "type": "string",
                    "description": "Must not be greater than 255 characters.",
                    "example": "iuqdbbypljrlgcgo",
                    "nullable": true
                  },
                  "pax_count": {
                    "type": "integer",
                    "description": "The number of guests. Must be at least 1.",
                    "example": 1,
                    "nullable": true
                  },
                  "business_date": {
                    "type": "string",
                    "description": "Must be a valid date in the format <code>Y-m-d</code>.",
                    "example": "2026-04-13"
                  },
                  "ordered_at": {
                    "type": "string",
                    "description": "Must be a valid date in the format <code>Y-m-d H:i:s</code>.",
                    "example": "2026-04-13 02:25:07"
                  },
                  "print_kot": {
                    "type": "boolean",
                    "description": "Flag if KOT will be printed after order is created.",
                    "example": false
                  },
                  "price_breakdown": {
                    "type": "object",
                    "description": "",
                    "example": [],
                    "properties": {
                      "gross_sales": {
                        "type": "number",
                        "description": "Must be at least 0.",
                        "example": 90
                      },
                      "net_sales": {
                        "type": "number",
                        "description": "Must be at least 0.",
                        "example": 25
                      },
                      "vatable_sales": {
                        "type": "number",
                        "description": "Must be at least 0.",
                        "example": 80.36
                      },
                      "vat_amount": {
                        "type": "number",
                        "description": "Must be at least 0.",
                        "example": 9.64
                      },
                      "vat_exempt_sales": {
                        "type": "number",
                        "description": "Must be at least 0.",
                        "example": 0
                      },
                      "zero_rated_sales": {
                        "type": "number",
                        "description": "Must be at least 0.",
                        "example": 0
                      },
                      "total_discounts": {
                        "type": "number",
                        "description": "Must be at least 0.",
                        "example": 3
                      },
                      "delivery_fee": {
                        "type": "number",
                        "description": "Must be at least 0.",
                        "example": 0,
                        "nullable": true
                      },
                      "is_free_delivery": {
                        "type": "boolean",
                        "description": "Flag if delivery fee is waived.",
                        "example": false
                      }
                    },
                    "required": [
                      "gross_sales",
                      "net_sales",
                      "vatable_sales",
                      "vat_amount",
                      "vat_exempt_sales",
                      "zero_rated_sales",
                      "total_discounts"
                    ]
                  },
                  "items": {
                    "type": "array",
                    "description": "",
                    "example": [
                      []
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "product_id": {
                          "type": "integer",
                          "description": "Must be a valid product. This field is required when none of <code>items.*.product_sku</code> and <code>items.*.name</code> are present.",
                          "example": 13
                        },
                        "product_sku": {
                          "type": "string",
                          "description": "Must be a valid product. This field is required when none of <code>items.*.product_id</code> and <code>items.*.name</code> are present.",
                          "example": "SUADA"
                        },
                        "name": {
                          "type": "string",
                          "description": "The product name. This field is required when none of <code>items.*.product_id</code> and <code>items.*.product_sku</code> are present. Must not be greater than 191 characters.",
                          "example": "Iced Kape Sua Da (Vietnamese Latte)"
                        },
                        "price": {
                          "type": "number",
                          "description": "The product's base price. Must be at least 0.",
                          "example": 75
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "Must be at least 1.",
                          "example": 1
                        },
                        "gross_sales": {
                          "type": "number",
                          "description": "Must be at least 0.",
                          "example": 90
                        },
                        "net_sales": {
                          "type": "number",
                          "description": "Must be at least 0.",
                          "example": 29
                        },
                        "vatable_sales": {
                          "type": "number",
                          "description": "Must be at least 0.",
                          "example": 80.36
                        },
                        "vat_amount": {
                          "type": "number",
                          "description": "Must be at least 0.",
                          "example": 9.64
                        },
                        "vat_exempt_sales": {
                          "type": "number",
                          "description": "Must be at least 0.",
                          "example": 0
                        },
                        "zero_rated_sales": {
                          "type": "number",
                          "description": "Must be at least 0.",
                          "example": 0
                        },
                        "discount_amount": {
                          "type": "number",
                          "description": "Must be at least 0.",
                          "example": 72
                        },
                        "modifiers": {
                          "type": "array",
                          "description": "",
                          "example": null,
                          "items": {
                            "type": "object",
                            "properties": {
                              "modifier_id": {
                                "type": "integer",
                                "description": "Must be a valid modifier. This field is required when none of <code>items.*.modifiers.*.modifier_sku</code> and <code>items.*.modifiers.*.name</code> are present.",
                                "example": 13
                              },
                              "modifier_sku": {
                                "type": "string",
                                "description": "Must be a valid modifier. This field is required when none of <code>items.*.modifiers.*.modifier_id</code> and <code>items.*.modifiers.*.name</code> are present.",
                                "example": "UPS15"
                              },
                              "group": {
                                "type": "string",
                                "description": "This field is required when none of <code>items.*.modifiers.*.modifier_id</code> and <code>items.*.modifiers.*.modifier_sku</code> are present. Must not be greater than 100 characters.",
                                "example": "iuqdbbypljrlgcgo"
                              },
                              "type": {
                                "type": "string",
                                "description": "This field is required when none of <code>items.*.modifiers.*.modifier_id</code> and <code>items.*.modifiers.*.modifier_sku</code> are present.",
                                "example": "Forced",
                                "enum": [
                                  "Forced",
                                  "Unforced"
                                ]
                              },
                              "name": {
                                "type": "string",
                                "description": "The modifier name. This field is required when none of <code>items.*.modifiers.*.modifier_id</code> and <code>items.*.modifiers.*.modifier_sku</code> are present. Must not be greater than 100 characters.",
                                "example": "UPsize"
                              },
                              "price": {
                                "type": "number",
                                "description": "The modifier's base price. Must be at least 0.",
                                "example": 15
                              },
                              "quantity": {
                                "type": "integer",
                                "description": "Must be at least 1.",
                                "example": 1
                              }
                            },
                            "required": [
                              "price",
                              "quantity"
                            ]
                          }
                        },
                        "discount": {
                          "type": "object",
                          "description": "The item-level discount info.",
                          "example": null,
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Must be a valid discount ID.",
                              "example": null
                            },
                            "name": {
                              "type": "string",
                              "description": "Must not be greater than 100 characters.",
                              "example": "hbfswlbkudwnbszw"
                            },
                            "quantity": {
                              "type": "integer",
                              "description": "The number of items discounted. Must be at least 1.",
                              "example": 15
                            },
                            "amount": {
                              "type": "number",
                              "description": "The amount discounted. Must be at least 0.",
                              "example": 77
                            },
                            "first_name": {
                              "type": "string",
                              "description": "The customer's first name. Must not be greater than 191 characters.",
                              "example": "lqenrdxtykuguxfb"
                            },
                            "last_name": {
                              "type": "string",
                              "description": "The customer's last name. Must not be greater than 191 characters.",
                              "example": "sfixuershecqszhp"
                            },
                            "reference_number": {
                              "type": "string",
                              "description": "The customer's reference/ID number. Must not be greater than 191 characters.",
                              "example": "anhkovypnsyqipgf"
                            }
                          }
                        }
                      },
                      "required": [
                        "price",
                        "quantity",
                        "gross_sales",
                        "net_sales",
                        "vatable_sales",
                        "vat_amount",
                        "vat_exempt_sales",
                        "zero_rated_sales"
                      ]
                    }
                  },
                  "taxes": {
                    "type": "array",
                    "description": "The breakdown of taxes and other charges.",
                    "example": null,
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Must be a valid tax name.",
                          "example": "VAT"
                        },
                        "amount": {
                          "type": "number",
                          "description": "Must be at least 0.",
                          "example": 75
                        }
                      },
                      "required": [
                        "name",
                        "amount"
                      ]
                    }
                  },
                  "payment_details": {
                    "type": "array",
                    "description": "",
                    "example": [
                      []
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "payment_type": {
                          "type": "string",
                          "description": "Must be a valid payment type.",
                          "example": "Cash"
                        },
                        "paid_amount": {
                          "type": "number",
                          "description": "Must be at least 0.",
                          "example": 90
                        },
                        "returned_amount": {
                          "type": "number",
                          "description": "Must be at least 0.",
                          "example": 10
                        }
                      },
                      "required": [
                        "payment_type",
                        "paid_amount",
                        "returned_amount"
                      ]
                    }
                  },
                  "customer_info": {
                    "type": "object",
                    "description": "The customer's info.",
                    "example": null,
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "",
                        "example": "Mr. Grayson Sawayn Sr.",
                        "nullable": true
                      },
                      "address": {
                        "type": "string",
                        "description": "",
                        "example": "97103 Cruickshank Summit Apt. 620 South Bessieside, PA 41226-6380",
                        "nullable": true
                      },
                      "business_style": {
                        "type": "string",
                        "description": "",
                        "example": "Feest, Sauer and Trantow",
                        "nullable": true
                      },
                      "tin": {
                        "type": "string",
                        "description": "",
                        "example": "212-204-664-046",
                        "nullable": true
                      },
                      "sales_invoice_number": {
                        "type": "string",
                        "description": "",
                        "example": "00000000001491758537",
                        "nullable": true
                      }
                    }
                  },
                  "discount": {
                    "type": "object",
                    "description": "The order-level discount info.",
                    "example": null,
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Must be a valid discount ID.",
                        "example": null
                      },
                      "name": {
                        "type": "string",
                        "description": "Must not be greater than 100 characters.",
                        "example": "qiuqdbbypljrlgcg"
                      },
                      "amount": {
                        "type": "number",
                        "description": "The amount discounted. Must be at least 0.",
                        "example": 49
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The customer's first name. Must not be greater than 191 characters.",
                        "example": "hbfswlbkudwnbszw"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The customer's last name. Must not be greater than 191 characters.",
                        "example": "ewlqenrdxtykugux"
                      },
                      "reference_number": {
                        "type": "string",
                        "description": "The customer's reference/ID number. Must not be greater than 191 characters.",
                        "example": "fbsfixuershecqsz"
                      }
                    }
                  }
                },
                "required": [
                  "business_date",
                  "ordered_at",
                  "items",
                  "payment_details"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/order_references/{order}": {
      "get": {
        "summary": "Get Order by Reference",
        "operationId": "getOrderByReference",
        "description": "Get an order by reference number.",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 46231,
                      "location_id": 295,
                      "service_type_id": 1,
                      "service_channel_id": null,
                      "reference_id": null,
                      "business_date": "2023-02-22",
                      "bill_number": 7690,
                      "receipt_number": 7674,
                      "pax_count": 1,
                      "price_breakdown": {
                        "original_gross_sales": 1,
                        "gross_sales": 1.1,
                        "net_sales": 0.8929,
                        "vatable_sales": 0.8929,
                        "vat_amount": 0.1071,
                        "vat_exempt_sales": 0,
                        "zero_rated_sales": 0,
                        "total_discounts": 0,
                        "delivery_fee": null,
                        "is_free_delivery": false
                      },
                      "fulfillment_option": null,
                      "payment_status": "PAID",
                      "order_status": null,
                      "cancellation_reason": null,
                      "billed_at": "2023-02-22T00:37:31.000000Z",
                      "paid_at": "2023-02-22T00:37:38.000000Z",
                      "completed_at": null,
                      "cancelled_at": null,
                      "items": [
                        {
                          "product_id": 30419,
                          "name": "Gsggsg",
                          "price": 1,
                          "quantity": 1,
                          "gross_sales": 1.1,
                          "net_sales": 0.8929,
                          "vatable_sales": 0.8929,
                          "vat_amount": 0.1071,
                          "vat_exempt_sales": 0,
                          "zero_rated_sales": 0,
                          "modifiers": []
                        }
                      ],
                      "taxes": [],
                      "payment_methods": [
                        {
                          "payment_type": "Cash",
                          "paid_amount": 1.1,
                          "returned_amount": 0
                        },
                        {
                          "payment_type": "QRPH",
                          "paid_amount": 332,
                          "returned_amount": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 46231,
                          "description": "The ID of the order."
                        },
                        "location_id": {
                          "type": "integer",
                          "example": 295,
                          "description": "The ID of the location."
                        },
                        "service_type_id": {
                          "type": "integer",
                          "example": 1,
                          "description": "The service type of the order."
                        },
                        "service_channel_id": {
                          "type": "string",
                          "example": null,
                          "description": "The service channel of the order.",
                          "nullable": true
                        },
                        "reference_id": {
                          "type": "string",
                          "example": null,
                          "description": "The reference ID of the order.",
                          "nullable": true
                        },
                        "business_date": {
                          "type": "string",
                          "example": "2023-02-22",
                          "description": "The business date of the order."
                        },
                        "bill_number": {
                          "type": "integer",
                          "example": 7690
                        },
                        "receipt_number": {
                          "type": "integer",
                          "example": 7674
                        },
                        "pax_count": {
                          "type": "integer",
                          "example": 1,
                          "description": "The number of pax."
                        },
                        "price_breakdown": {
                          "type": "object",
                          "properties": {
                            "original_gross_sales": {
                              "type": "integer",
                              "example": 1
                            },
                            "gross_sales": {
                              "type": "number",
                              "example": 1.1
                            },
                            "net_sales": {
                              "type": "number",
                              "example": 0.8929
                            },
                            "vatable_sales": {
                              "type": "number",
                              "example": 0.8929
                            },
                            "vat_amount": {
                              "type": "number",
                              "example": 0.1071
                            },
                            "vat_exempt_sales": {
                              "type": "integer",
                              "example": 0
                            },
                            "zero_rated_sales": {
                              "type": "integer",
                              "example": 0
                            },
                            "total_discounts": {
                              "type": "integer",
                              "example": 0
                            },
                            "delivery_fee": {
                              "type": "string",
                              "example": null
                            },
                            "is_free_delivery": {
                              "type": "boolean",
                              "example": false
                            }
                          },
                          "required": [
                            "original_gross_sales",
                            "gross_sales",
                            "net_sales",
                            "vatable_sales",
                            "vat_amount",
                            "vat_exempt_sales",
                            "total_discounts",
                            "delivery_fee",
                            "is_free_delivery"
                          ]
                        },
                        "fulfillment_option": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        },
                        "payment_status": {
                          "type": "string",
                          "example": "PAID",
                          "description": "The status of the payment."
                        },
                        "order_status": {
                          "type": "string",
                          "example": null,
                          "description": "The status of the order.",
                          "nullable": true
                        },
                        "cancellation_reason": {
                          "type": "string",
                          "example": null,
                          "description": "The status of the order.",
                          "nullable": true
                        },
                        "billed_at": {
                          "type": "string",
                          "example": "2023-02-22T00:37:31.000000Z",
                          "description": "The time when the order was billed.",
                          "nullable": true
                        },
                        "paid_at": {
                          "type": "string",
                          "example": "2023-02-22T00:37:38.000000Z",
                          "description": "The time when the order was paid.",
                          "nullable": true
                        },
                        "completed_at": {
                          "type": "string",
                          "example": null,
                          "description": "The time when the order was completed.",
                          "nullable": true
                        },
                        "cancelled_at": {
                          "type": "string",
                          "example": null,
                          "description": "The time when the order was cancelled.",
                          "nullable": true
                        },
                        "items": {
                          "type": "array",
                          "example": [
                            {
                              "product_id": 30419,
                              "name": "Gsggsg",
                              "price": 1,
                              "quantity": 1,
                              "gross_sales": 1.1,
                              "net_sales": 0.8929,
                              "vatable_sales": 0.8929,
                              "vat_amount": 0.1071,
                              "vat_exempt_sales": 0,
                              "zero_rated_sales": 0,
                              "modifiers": []
                            }
                          ],
                          "description": "The products purchased.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "product_id": {
                                "type": "integer",
                                "example": 30419
                              },
                              "name": {
                                "type": "string",
                                "example": "Gsggsg"
                              },
                              "price": {
                                "type": "integer",
                                "example": 1
                              },
                              "quantity": {
                                "type": "integer",
                                "example": 1
                              },
                              "gross_sales": {
                                "type": "number",
                                "example": 1.1
                              },
                              "net_sales": {
                                "type": "number",
                                "example": 0.8929
                              },
                              "vatable_sales": {
                                "type": "number",
                                "example": 0.8929
                              },
                              "vat_amount": {
                                "type": "number",
                                "example": 0.1071
                              },
                              "vat_exempt_sales": {
                                "type": "integer",
                                "example": 0
                              },
                              "zero_rated_sales": {
                                "type": "integer",
                                "example": 0
                              },
                              "modifiers": {
                                "type": "array",
                                "example": []
                              }
                            }
                          }
                        },
                        "taxes": {
                          "type": "array",
                          "example": [],
                          "description": "The taxes applied."
                        },
                        "payment_methods": {
                          "type": "array",
                          "example": [
                            {
                              "payment_type": "Cash",
                              "paid_amount": 1.1,
                              "returned_amount": 0
                            },
                            {
                              "payment_type": "QRPH",
                              "paid_amount": 332,
                              "returned_amount": 0
                            }
                          ],
                          "description": "The payments made.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "payment_type": {
                                "type": "string",
                                "example": "Cash"
                              },
                              "paid_amount": {
                                "type": "number",
                                "example": 1.1
                              },
                              "returned_amount": {
                                "type": "integer",
                                "example": 0
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "id",
                        "location_id",
                        "service_type_id",
                        "service_channel_id",
                        "reference_id",
                        "business_date",
                        "bill_number",
                        "receipt_number",
                        "pax_count",
                        "price_breakdown",
                        "fulfillment_option",
                        "payment_status",
                        "order_status",
                        "cancellation_reason",
                        "billed_at",
                        "paid_at",
                        "completed_at",
                        "cancelled_at",
                        "items",
                        "taxes",
                        "payment_methods"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Orders"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "order",
          "description": "The reference number of the order.",
          "example": "REF-123456",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v1/orders/{id}": {
      "get": {
        "summary": "Get Order",
        "operationId": "getOrder",
        "description": "Get an order by ID.",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "id": 46231,
                      "location_id": 295,
                      "service_type_id": 1,
                      "service_channel_id": null,
                      "reference_id": null,
                      "business_date": "2023-02-22",
                      "bill_number": 7690,
                      "receipt_number": 7674,
                      "pax_count": 1,
                      "price_breakdown": {
                        "original_gross_sales": 1,
                        "gross_sales": 1.1,
                        "net_sales": 0.8929,
                        "vatable_sales": 0.8929,
                        "vat_amount": 0.1071,
                        "vat_exempt_sales": 0,
                        "zero_rated_sales": 0,
                        "total_discounts": 0,
                        "delivery_fee": null,
                        "is_free_delivery": false
                      },
                      "fulfillment_option": null,
                      "payment_status": "PAID",
                      "order_status": null,
                      "cancellation_reason": null,
                      "billed_at": "2023-02-22T00:37:31.000000Z",
                      "paid_at": "2023-02-22T00:37:38.000000Z",
                      "completed_at": null,
                      "cancelled_at": null,
                      "items": [
                        {
                          "product_id": 30419,
                          "name": "Gsggsg",
                          "price": 1,
                          "quantity": 1,
                          "gross_sales": 1.1,
                          "net_sales": 0.8929,
                          "vatable_sales": 0.8929,
                          "vat_amount": 0.1071,
                          "vat_exempt_sales": 0,
                          "zero_rated_sales": 0,
                          "modifiers": []
                        }
                      ],
                      "taxes": [],
                      "payment_methods": [
                        {
                          "payment_type": "Cash",
                          "paid_amount": 1.1,
                          "returned_amount": 0
                        },
                        {
                          "payment_type": "QRPH",
                          "paid_amount": 332,
                          "returned_amount": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 46231,
                          "description": "The ID of the order."
                        },
                        "location_id": {
                          "type": "integer",
                          "example": 295,
                          "description": "The ID of the location."
                        },
                        "service_type_id": {
                          "type": "integer",
                          "example": 1,
                          "description": "The service type of the order."
                        },
                        "service_channel_id": {
                          "type": "string",
                          "example": null,
                          "description": "The service channel of the order.",
                          "nullable": true
                        },
                        "reference_id": {
                          "type": "string",
                          "example": null,
                          "description": "The reference ID of the order.",
                          "nullable": true
                        },
                        "business_date": {
                          "type": "string",
                          "example": "2023-02-22",
                          "description": "The business date of the order."
                        },
                        "bill_number": {
                          "type": "integer",
                          "example": 7690
                        },
                        "receipt_number": {
                          "type": "integer",
                          "example": 7674
                        },
                        "pax_count": {
                          "type": "integer",
                          "example": 1,
                          "description": "The number of pax."
                        },
                        "price_breakdown": {
                          "type": "object",
                          "properties": {
                            "original_gross_sales": {
                              "type": "integer",
                              "example": 1
                            },
                            "gross_sales": {
                              "type": "number",
                              "example": 1.1
                            },
                            "net_sales": {
                              "type": "number",
                              "example": 0.8929
                            },
                            "vatable_sales": {
                              "type": "number",
                              "example": 0.8929
                            },
                            "vat_amount": {
                              "type": "number",
                              "example": 0.1071
                            },
                            "vat_exempt_sales": {
                              "type": "integer",
                              "example": 0
                            },
                            "zero_rated_sales": {
                              "type": "integer",
                              "example": 0
                            },
                            "total_discounts": {
                              "type": "integer",
                              "example": 0
                            },
                            "delivery_fee": {
                              "type": "string",
                              "example": null
                            },
                            "is_free_delivery": {
                              "type": "boolean",
                              "example": false
                            }
                          },
                          "required": [
                            "original_gross_sales",
                            "gross_sales",
                            "net_sales",
                            "vatable_sales",
                            "vat_amount",
                            "vat_exempt_sales",
                            "total_discounts",
                            "delivery_fee",
                            "is_free_delivery"
                          ]
                        },
                        "fulfillment_option": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        },
                        "payment_status": {
                          "type": "string",
                          "example": "PAID",
                          "description": "The status of the payment."
                        },
                        "order_status": {
                          "type": "string",
                          "example": null,
                          "description": "The status of the order.",
                          "nullable": true
                        },
                        "cancellation_reason": {
                          "type": "string",
                          "example": null,
                          "description": "The status of the order.",
                          "nullable": true
                        },
                        "billed_at": {
                          "type": "string",
                          "example": "2023-02-22T00:37:31.000000Z",
                          "description": "The time when the order was billed.",
                          "nullable": true
                        },
                        "paid_at": {
                          "type": "string",
                          "example": "2023-02-22T00:37:38.000000Z",
                          "description": "The time when the order was paid.",
                          "nullable": true
                        },
                        "completed_at": {
                          "type": "string",
                          "example": null,
                          "description": "The time when the order was completed.",
                          "nullable": true
                        },
                        "cancelled_at": {
                          "type": "string",
                          "example": null,
                          "description": "The time when the order was cancelled.",
                          "nullable": true
                        },
                        "items": {
                          "type": "array",
                          "example": [
                            {
                              "product_id": 30419,
[...]
